.header-btn{
    background-color: transparent;
    border-color: transparent;
}

.searchbar{
    border-color: transparent;
    border-radius: 20%;
    background-color: antiquewhite;
    width: 20px;
}

.title{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: larger;
}

.sidebar{
    background-color: azure;
}
.side_button{
border-color: black;
background-color: transparent;
width: 30px;
}

.categories{
    border-color: black;
}